/* Screen size */
$tablet-width: 768px;
$desktop-width: 1024px;
$phone-width: 460px;

/* Colors */
$darkCoin: #005a67;
$darkCoin2: #02899c;
$lessDarkCoin: #1b8a9c;
$orangeCoin: #fcbe16;
$orangeCoin2 : #fc9323;
$description-text: #5f6060;

/* Paths */
$imagePath: "../../images";

/*Fonts*/
$mainFont: 'Roboto';